@media (min-width: 768) {
  .about-container,
  .skills-container,
  .project-container,
  .contact-container {
    width: 80%; 
    margin: 0 auto; 
    flex-direction: row; 
    justify-content: space-between; 
  }
}

/* Desktop: Larger screens (≥ 1024px) */
@media (min-width: 1024px) {
  .about-container,
  .skills-container,
  .contact-container {
    width: 80%;
    max-width: 1300px; 
    margin: 0 auto; 
    justify-content: center;
    align-content: center;
  }

  .project-container {
    width: 80%;
    max-width: 1300px; 
    justify-content: center;
    align-content: center;
  }
}
