.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background: linear-gradient(-90deg, #83c0cf, #1544a8);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
  border-radius: 10px;
  position: relative;
}

#nav-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.2rem;
}

#linkedin-github-logos {
  display: flex;
}

.menu-toggle {
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 10px 0;
  transition: smooth;
}

#name {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.nav-links {
  display: none;
  flex-direction: column;
  align-items: space-between;
  justify-content: top;
  position: fixed;
  margin: 1rem;
  padding: 1rem;
  top: 10rem;
  height: 100%;
  width: 100%;
  list-style: none;
  border-radius: 10px;
  border-top: 5px solid#83c0cf;
  background-color: #f9f9f9;
}

.nav-links.active {
  display: flex;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.link {
  align-content: center;
  justify-content: space-around;
  margin-top: 2rem;
  width: 100%;
  background-color: #f9f9f9;
  border-left: 5px solid#0056b3;
  border-top: 5px solid#0056b3;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.link a {
  display: block;
}

.link:hover {
  background-color: #83c0cf;
}

#dropdown {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown-content {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  min-width: 160px;
  padding: 1rem;
  background-color: white;
  border-top: 5px solid #83c0cf;
  border-left: 5px solid #83c0cf;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#dropdown-button {
  font-family: Tahoma;
  color: #282828;
}

.project-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 1rem;
  margin: 1rem;
  background-color: #f9f9f9;
  border-left: 5px solid#0056b3;
  border-top: 5px solid#0056b3;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  text-decoration: none;
  white-space: nowrap;
}

.project-link a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
}

.project-link:hover {
  background-color: #83c0cf;
}

.emoji {
  display: inline-block;
  padding: 0.75rem;
}

@media (min-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  #nav-buttons {
    display: flex;
    justify-content: left;
    padding: 0.2rem;
    margin: 1rem;
  }

  #linkedin-github-logos {
    display: flex;
  }

  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    position: relative;
    margin: 1rem;
    padding: 1rem;
    top: 1rem;
    width: 50%;
    min-width: 500px;
    list-style: none;
    border-radius: 10px;
    border-top: 5px solid #83c0cf;
    background-color: #f9f9f9;
  }

  .nav-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 0; 
    margin: 0; 
    width: 100%;
  }

  .link {
    display: block; 
    margin: 0.75rem; 
    flex-grow: 1;
    width: auto;
    background-color: #f9f9f9;
    border-left: 5px solid #0056b3;
    border-top: 5px solid #0056b3;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .link a {
    display: block;
    padding: 0.75rem;
  }

  #dropdown-button {
    font-family: Tahoma;
    color: #282828;
  }

  .project-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 1rem;
    margin: 1rem;
    background-color: #f9f9f9;
    border-left: 5px solid#0056b3;
    border-top: 5px solid#0056b3;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
  }
}
