.project-container {
  justify-content: center;
  align-content: center;
  height: 50%;
  width: 80%;
  padding: 2rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  border: 1px solid #ccc;
  border-top: 20px solid #0056b3;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.project-header {
  display: flex;
  align-items: center;
  padding: 0rem;
  margin: 0rem;
  width: 100%;
}

#project-emoji {
  margin-left: 5%;
  margin-right: 5%;
}

#project-title {
  flex-grow: 1;
  text-align: center;
  text-decoration: underline;
  font-size: 1.75rem;
}

.project-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
}

.project-summary-container {
  width: 90%;
  padding: 1rem;
  margin: 1rem;
  border-top: 5px solid#000000;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#project-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  text-align: center;
}

.bullet-point {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  margin: 1rem;
  border-top: 5px solid #0056b3;
  border-left: 5px solid #0056b3;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  line-height: 1.5;
}

.bullet-point::before {
  margin-right: 10px;
  content: '✔';
  font-size: 20px;
  color: #007bff;
  font-weight: bold;
}

.project-links {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.project-links ul {
  display: flex;
  padding-left: 0;
  gap: 20px;
}

.project-links a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.project-links a:hover {
  text-decoration: underline;
}

.screenshot-container {
  width: 90%;
  height: 80%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  background: #f9f9f9;
  border-left: 5px solid#83c0cf;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.preview-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.screenshot {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

#toggle-button {
  padding: 8px 12px;
  margin: 1rem;
  border: 2px;
  border-radius: 10px;
  background-color: #a1bad4;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}

#toggle-button:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {

  .bullet-point:hover {
    background-color: #83c0cf;
  }
}
