html,
body {
  background-color: #bddddd;
  font-family: tahoma;
  color: #282828;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 25px;
}

p {
  font-size: 22px;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

/* make so it is screen width */
.nav-bar {
  width: 100%;
  background: linear-gradient(-90deg, #83c0cf, #1544a8);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  min-height: 150px;
  position: relative;
}

#name {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.link {
  font-size: 25px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border-top: 5px solid#83c0cf;
  border-left: 5px solid#83c0cf;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  list-style: none;
  padding: 20px 0;
  margin: 10px;
  z-index: 1000;
}

.project-link {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1rem;
  font-size: 20px;
  white-space: nowrap;
}

.emoji {
  display: inline-block;
  padding: 0.75rem;
}

button.close-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.close-button:hover {
  background-color: #0056b3;
}

.about-content {
  display: flex;
  align-content: center;
  background: #c4dce4;
  border-left: 5px solid #007bff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#intro-points {
  padding: 1%;
}
.intro-point {
  padding: 0.5rem;
}

#profile-picture {
  width: 20%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

/* edit this */
.skills-container {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  white-space: nowrap;
  height: 15%;
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 5px solid#0056b3;
  border-top: 5px solid#0056b3;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.skill-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#area-title {
  font-size: 30px;
}

.tool-container {
  flex: 1 1 calc(25% - 10px); /* Each tool takes up 25% of the row minus gap */
  max-width: calc(25% - 10px); 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 10px;
  margin: 1rem;
  background-color: #f9f9f9;
  border-left: 5px solid #83c0cf;
  border-top: 5px solid #83c0cf;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tool-title {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}


.logo-item img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
  border: 2px solid #d8d8d8;
  margin: 5px;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}



/* end of skills */

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 3rem;
  background-color: #f9f9f9;
  border-top: 20px solid #0056b3;
}

.project-header {
  display: flex;
  align-items: center;
  width: 100%;
}

#project-emoji {
  margin-left: 5%;
  margin-right: 5%;
}

#project-title {
  flex-grow: 1;
  text-align: center;
  text-decoration: underline;
}

.project p {
  margin-bottom: 15px;
  text-align: left;
}

.project-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.project-summary-box {
  width: 40%;
  background: #f9f9f9;
  border-left: 5px solid #007bff;
  padding: 2rem;
  margin: 2%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#project-summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  text-align: center;
}

.bullet-point {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8%;
  font-size: 20px;
  line-height: 1.75;
}

.bullet-point::before {
  content: '✔';
  font-size: 20px;
  color: #007bff;
  font-weight: bold;
  margin-right: 10px;
}

.screenshot-box {
  width: 50%;
  max-width: 400px;
  background: #f9f9f9;
  border-left: 5px solid#83c0cf;
  padding: 2rem;
  margin: 2%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.screenshot {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#toggle-button {
  padding: 8px 12px;
  background-color: #a1bad4;
  color: white;
  margin: 5px;
  border: 2px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 10px;
}

#toggle-button:hover {
  background-color: #0056b3;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.links ul {
  display: flex;
  padding-left: 0;
  gap: 20px;
}

.links li {
  margin: 0;
}

.links a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}

.contact {
  width: 40vw;
  display: block;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #c4dce4;
  border-left: 5px solid #007bff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-logo {
  padding: 0.5rem;
  border: 0;
  margin: 0;
  width: 2.5rem;
  height: auto;
}

.button-to-fact {
  font-size: 24px;
  transition: transform 0.5s ease-in-out;
  white-space: nowrap;
}

.button {
  margin: 30px;
  background-color: #39495c;
  border-radius: 5px;
  font-size: 18px;
  width: 160px;
  height: 60px;
  color: white;
  padding: 20px;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  cursor: pointer;
}

/* make click outside closes the box*/

.fact-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.fact-content {
  background-color: white;
  border-left: 5px solid #007bff;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  text-align: center;
}

/* mobile first*/

@media (min-width: 600px) {
  body {
    flex-direction: row; /* Side-by-side layout */
    justify-content: space-between; /* Space between elements */
  }
}

/* Desktop: Larger screens (≥ 1024px) */
@media (min-width: 1024px) {
  body {
    max-width: 1200px; /* Prevents excessive stretching */
    margin: 0 auto; /* Centers the content */
  }
}
